
//Absolute
$absolute-white: #fff;
$absolute-black: #000;

//Primary colors
$primary-60: #CAFF33;
$primary-65: #D1FF4C;
$primary-70: #D8FF66;
$primary-75: #D8FF66;
$primary-80: #E5FF99;


//Light colors
$light-90: #E4E4E7;
$light-95: #f1f1f3;
$light-100: #f7f7f8;


//Dark colors
$dark-10: #191919;
$dark-11: #1c1c1c;
$dark-15: #262626;
$dark-20: #333333;
$dark-30: #4c4c4d;
$dark-35: #59595a;
$dark-40: #656567;
$dark-70: #B3B3B3;

$main-bg-color: #0D0D0D;
$primary-color: #A6216A;
$secondary-color: #F2B138;
$tertiary-color: #D93B58;
$secondarys-color: #F2A03D;
$secondary-bg-color: #1d1d1d;
$tertiary-bg-color: #242424;